body {
    font-family: sans-serif;
}
  
header {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
}
  
.senter {
    text-align: center;
    margin: auto;
    padding: 20px;
}

footer {
    background-color: lightgray;
    padding: 1em;
    text-align: center;
}